body {
    background-color: rgb(62, 62, 221);
    font: normal 15px arial;
    color: white;
}
header{
    text-align: center; /* alinhamento do cabeçalho */

}
section{
    background: white;
    border-radius: 10px; /* arredondamento dos cantos */
    padding: 15px; /* criar espaço antes e depois das div's */
    width: 500px; /* largura da section */
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.952); /* criar sombreamento */
    color: black;
}

select{
    width: 150px;
}

footer {
    text-align: center;
    font-style: italic;
}